<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="FormsAuthenticationService" type="Example2.Models.FormsAuthenticationService, Example2"></alias>
  <alias alias="IFormsAuthenticationService" type="Example2.Models.IFormsAuthenticationService, Example2"></alias>
  <container>
    <register type="IFormsAuthenticationService" mapTo="FormsAuthenticationService">
    </register>
  </container>
</unity>