@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <label for="Name">Name   :</label><input type="text" name="Name" />
            <br />
            <input type="submit" value="Login" />
        }
    </div>
</body>
</html>
